body {
  margin: 0;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight: bold;
  text-align: left;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  color: #3b5998;
  text-align: center;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #3b5998;
  font-weight: bold;
  text-align: center;
}

.newColor{
  color: #2bd3d6;
}

h3.portfolio.newColor{
  background-color: #3b5998;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  color: #40514e;
  text-align: justify;
}

a {
  font-family: 'Source Sans Pro', sans-serif;
  color: #3b5998;
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  color: #7791c9;
}

a.text-decoration{
  text-decoration: underline;
  color: #2bd3d6;
  font-weight: normal;
}

a.text-decoration:hover{
  color: #ffffff;
}

a.OdeonScan{
  text-decoration: underline;
  color: #3b5998;
}

a.OdeonScan:hover{
  color: #7791c9;
}

p.scan:hover{
  color: #7791c9;
}

ul{
  display: flex;
}

header{
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

footer{
  color: #FFFFFF;
  margin-top: auto;
  text-align: center;
}

button{
  padding: 10px 20px;
  background-color: #2f3236;
  border: 1px solid #2f3236;
  border-radius: 5px;
  color: #2bd3d6;
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 20px;
}

button:hover{
  color: #FFFFFF;
}

a.myPortfolio{
  display: block;
}

button.myPortfolioButton{
  margin: 30px 0 10px;
  background-color: #3b5998;
  padding: 10px;
  border: 3px solid #2bd3d6;
  border-radius: 5px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #2bd3d6;
}

button.myPortfolioButton:hover{
  border: 3px solid #ffffff;
  color: #ffffff;
}

i{
  font-size: 8px;
  color: #3b5998;
}

/* top container */

.photo{
  background-color: #000000;
  padding: 20px;
}

.presentation{
  max-width: 80%;
  text-align: justify;
  padding-top: 20px;
}

.presentation-follow{
  max-width: 80%;
  text-align: justify;
}

.about{
  background-color: #3b5998;
  color: #FFFFFF;
  padding: 20px 10px 20px 30px;
}

.name{
  text-align: left;
}

.space{
margin-right: 10px;
}

.developer{
  font-size: 20px;
  color:#2bd3d6;
}

.img-face{
  max-width: 50%;
  padding-top: 5px;
}

.contact-me{
  padding: 0 0 10px;
}

.contact-img{
  width: 100%;
  max-width: 60px;
  display: inline-block;
  padding: 10px;
}

.linkedin{
  padding: 10px;
}

/* middle container */

.skills{
  background-color: black;
  padding: 20px 20px;
}

.skills-h3{
  padding-bottom: 10px;
}

.align {
  text-align: left;
}

.protected {
  margin-left: 10%;
}

.education{
  background-color: #FFFFFF;
  padding: 20px 10px 20px 30px;
}

.school {
  color: #3b5998;font-weight: bold;
}

.p-t{
  padding-top: 10px;
}

.middle-section{
  text-align: left;
}

.title{
  padding-bottom: 10px;
}

.course{
  margin: 0;
  padding-bottom: 10px;
}

.school {
  margin: 0;
}

.description{
  margin: 0;
}

.icon {
  width: 100%;
  max-width: 80px;
  display: inline-block;
  padding: 10px;
}

.examples {
  padding-top: 10px;
}

.work-h3 {
  padding-top: 20px;
}

.dates-padding {
  padding-top: 10px;
}

.interests-h3 {
  padding-top: 50px;
}

.interests {
  margin-bottom: 20px;
}

.add-padding {
  padding-bottom: 20px;
}

.language{
  width: 50px;
  height: 38px;
  padding: 10px;
}

/* footer */

.copyright{
  padding-top: 16px;
}

.footer-black {
  background-color: #000000;
  padding: 0;
}

.footer-blue {
  background-color: #3b5998;
  padding: 0;
}

@media (max-width: 300px){
  h1.card-title.webflow{
    font-size: 25px;
  }
  button.portfolioButton{
    font-size: 16px;
    padding: 10px 10px;
  }
}

@media (max-width: 599px){
  .newContactMe{
    padding-top: 30px;
  }
  .padding-interests{
    padding-top: 40px;
  }
  .padding-programming{
    padding: 0;
    margin: 0;
  }
  .padding-English{
    padding-bottom: 30px;
    margin: 0;
  }
  .padding-education{
    padding-top: 30px;
  }
  .padding-description{
    padding-bottom: 30px;
  }
  .padding-name{
    padding-top: 30px;
  }
  .about{
    width: 100%;
  }
  .photo{
    width: 100%;
    display: none;
  }
  .skills{
    width: 100%;
  }
  .education{
    width: 100%;
  }
  .footer-black{
    display: none;
  }
  .footer-blue{
    width: 100%;
  }
  .name{
    text-align: center;
  }
  .presentation{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  .presentation-follow{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
}

@media (max-width: 699px){
  .photo{
    padding: 20px 10px;
  }
  .about{
    padding: 20px 10px;
  }
  .skills{
    padding: 20px 10px;
  }
  .education{
    padding: 20px 10px;
  }
}

.photo1{
  background-color: #000000;
  padding: 20px 10px;
  width: 100%;
}

@media (min-width: 600px){
  .photo1{
    display: none;
  }
}
